.layout {
	display: flex;
	min-height: 100vh;
}

.logo {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.content {
	border: 1px solid var(--separator-color);
	flex: 1;
	display: flex;
		align-items: center;
		justify-content: center;
}
@media screen and (max-width: 992px) { 
	.logo {
		display: none;
	}
	.layout {
		display: block;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
	}
	.content {
		width: 100%;
		border: none;
		flex: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}