.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.button-and-title{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.arrow{
    width: 30px;
    height: 30px;
    border-radius: 20%;
    box-sizing: border-box;
    border: transparent;
    background-size: cover;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 3px 5px  rgba(17, 23, 25, 0.2);

}
.button{
    margin: 0;
}
.contant{
    display: flex;
    justify-content: space-around;
    padding-top: 41px;
}
.image{
    width: 323px;
    height: 248px;
    margin-right: 39px;
    object-fit: cover;
    border-radius: 20px;

}

.title{
font-size: 16px;
font-weight: 600;
line-height: 21.79px;
text-align: left;
color: var(--text-color);

}
.price{
font-size: 19px;
font-weight: 400;
line-height: 25.87px;
text-align: right;
}
.price>span{
font-size: 14px;
font-weight: 400;
line-height: 19.07px;
text-align: left;
color: #9796A1;

}
.hr{
    width: 100%;
    margin: 0;
    height: 1px;
    background-color: #F1F2F3;
    border: 0px;
    margin-top: 13px;
    margin-bottom: 17px;
}

.title-ul{
    font-size: 16px;
    font-weight: 800;
    line-height: 21.79px;
    text-align: left;
    color: var(--text-secondary-color);
}
.description{
    display: flex;
    flex-direction: column;
}
.container-description{
    display: flex;
    justify-content: space-between;
}
.rating{
font-size: 12.14px;
font-weight: 600;
line-height: 16.54px;
text-align: left;

}
.star{
    padding-left: 5px;
}
.ul{
    color: var(--text-secondary-color);
    font-size: 14.57px;
    font-weight: 400;
    line-height: 19.84px;
    text-align: left;
    
}
.ul>li{
    text-transform: capitalize;

}
.container-compound{
    margin-top: 30px;
}