:root {
	--font: "Open Sans", sans-serif;
	--primary-color: #fe724c;
	--primary-hover-color: #c2573a;
	--text-color: #000000;
	--text-secondary-color: #5b5b5e;
	--white-color: #ffffff;
	--separator-color: #d4d6e0;
	--email-text: #9EA1B1
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}
@media screen and (max-width: 992px) {
	body{
		margin-left: 10px;
		margin-right: 10px;
	}
}